<div class="container-fluid">

  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">NO.</th>
        <th scope="col">BILL NO.</th>
        <th scope="col">PATIENT</th>
        <th scope="col">DETAIL</th>
        <th scope="col">DATETIME</th>
        <th scope="col">สิทธิ์การใช้บริการ</th>
        <th scope="col">PRINT LIST</th>
        <th scope="col">ส่วนลดสิทธิ์การใช้บริการ</th>
        <th scope="col">ชำระเงิน</th>

        <th scope="col">STATUS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>001</td>
        <td>DEMO TEST</td>
        <td>ฝังเข็มเฉพาะจุด</td>
        <td>13/08/2563 12.34.00 </td>
        <td>อปท ข้าราชการ</td>
        <td>250</td>
        <td>100</td>
        <td>150</td>
        <td>Complete</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>002</td>
        <td>DEMO TEST</td>
        <td>ฝังเข็มเฉพาะจุด</td>
        <td>13/08/2563 12.34.00 </td>
        <td>อปท ข้าราชการ</td>
        <td>250</td>
        <td>100</td>
        <td>150</td>
        <td>Complete</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>003</td>
        <td>DEMO TEST</td>
        <td>ฝังเข็มเฉพาะจุด</td>
        <td>13/08/2563 12.34.00 </td>
        <td>อปท ข้าราชการ</td>
        <td>250</td>
        <td>100</td>
        <td>150</td>
        <td>Complete</td>
      </tr>
    </tbody>
  </table>

</div>
