<div class="container-fluid">

  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">NO.</th>
        <th scope="col">DEPARTMENT</th>
        <th scope="col">สิทธิ์ อปท ขรก</th>
        <th scope="col">สิทธิ์ทั่วไป</th>
        <th scope="col">จำนวน</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>ฝังเข็ม</td>
        <td>3</td>
        <td>5</td>
        <td>8</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>กายภาพ</td>
        <td>2</td>
        <td>2</td>
        <td>4</td>
      </tr>

      <tr>
        <th scope="row">3</th>
        <td>ออกกำลังกาย</td>
        <td>13</td>
        <td>5</td>
        <td>18</td>
      </tr>
    </tbody>
  </table>

</div>
